#general_container {
  width: 119%;
  height: auto;
}

#header {
  border-bottom: 2px solid #e1e1e1;
  width: auto;
  height: 120px;
  background-color: #ffffff;
}

#logo_top {
  width: 305px;
  height: 108px;
  margin-left: 537px;
}

#time_container {
  display: flex;
  margin-top: 50px;
  margin-left: 40px;
}

#date_time {
  width: 320px;
  height: 130px;
  border-radius: 8px;
  background-color: rgb(247, 247, 247);
}

#timer {
  width: 320px;
  height: 130px;
  background-color: #336699;
  border-radius: 8px;
  margin-left: 10px;
}

#warning {
  width: 650px;
  height: 48px;
  margin-left: 40px;
  color: #336699;
  border: 1px solid #336699;
  border-radius: 10px;
  text-align: center;
  padding-top: 5px;
  background-color: #e5eef7;
}

#notes {
  font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 13px;
  width: 652px;
  height: 100px;
  margin-left: 40px;
  margin-top: -10px;
  padding-top: 10px;
}

#news_container {
  display: -webkit-inline-box;
  /* border: 1px solid red; */
  margin-left: 0px;
  height: 162px;
  width: 752px;
}

#news_area1 {
  width: 341px;
  height: 190px;
  border: 1px solid red;
  margin-left: 3px;
  margin-top: 10px;
}

#news_area2 {
  width: 341px;
  height: 190px;
  border: 1px solid red;
  margin-left: 3px;
  margin-top: 10px;
}

#news_area3 {
  width: 341px;
  height: 190px;
  border: 1px solid red;
  margin-left: 3px;
  margin-top: 10px;
}

#video1 {
  width: 238px;
  height: 160px;
}

#video2 {
  width: 238px;
  height: 160px;
}

#video3 {
  width: 238px;
  height: 160px;
}

#text_area1 {
  position: relative;
  width: 221px;
  height: 60px;
  padding-left: 9px;
  padding-right: 9px;
  background-color: rgba(0, 0, 0, 0.7);
  margin-top: -81px;
}

#text_area2 {
  position: relative;
  width: 221px;
  height: 60px;
  padding-left: 9px;
  padding-right: 9px;
  background-color: rgba(0, 0, 0, 0.7);
  margin-top: -81px;
}

#title_news {
  font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-left: 0px;
  color: #fff;
  margin-top: 15px;
  font-size: 14px;
}

#text_news {
  margin-top: -7px;
  margin-left: 0px;
  font-size: 10px;
  color: #fff;
}

h1 {
  font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-left: 40px;
  margin-top: 25px;
  color: #1a1a1a;
  font-size: 32px;
}

h2 {
  font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-left: 20px;
  margin-top: -15px;
  color: #707070;
  font-size: 32px;
}

h3 {
  font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-left: 20px;
  color: #1a1a1a;
  margin-top: 34px;
}

h4 {
  font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-left: 43px;
  margin-top: 40px;
}

h5 {
  font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-left: 70px;
  margin-top: 40px;
  font-size: 17px;
  color: #fff;
}

h6 {
  font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 34px;
  margin-left: 82px;
  margin-top: -28px;
  color: #fff;
}

p {
  font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 12px;
  font-style: italic;
  margin-left: 20px;
  margin-top: -25px;
  color: #1a1a1a;
}

#logo_bottom {
  width: 120px;
  margin-left: 622px;
  /* position: sticky; */
  margin-top: 50px;
}

/* Media queries 575 */

@media (max-width: 575px) {
  body {
    align-self: center;
    width: 550px;
    /* border: 1px solid red; */
  }

  #general_container {
    width: auto;
    display: inline-table;
  }

  #header {
    height: 120px;
    align-self: center;
    width: 550px;
  }

  #logo_top {
    width: 305px;
    height: 108px;
    margin-left: 96px;
  }

  #time_container {
    display: inline-table;
    margin-top: -20px;
    margin-left: 65px;
  }

  #date_time {
    width: 416px;
    height: 150px;
    border-radius: 8px;
  }

  #timer {
    width: 416px;
    height: 150px;
    border-radius: 8px;
    border: 1px solid #c3c3c3;
    margin-left: 0px;
    margin-top: 20px;
  }

  #warning {
    width: 416px;
    height: 58px;
    margin-left: 66px;
    font-size: 28px;
    padding-top: 18px;
  }

  #notes {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 24px;
    width: 450px;
    height: 390px;
    margin-left: 37px;
    margin-top: -50px;
  }

  #news_container {
    display: inline-block;
    /* border: 1px solid red; */
    margin-left: 65px;
    height: 670px;
    width: 350px;
  }

  #text_area1 {
    margin-top: -122px;
    width: 497px;
    height: 100px;
  }

  #text_area2 {
    margin-top: -120px;
    width: 497px;
    height: 100px;
  }

  #text_area3 {
    margin-top: -121px;
    width: 570px;
    height: 100px;
  }

  #news_area1 {
    border: 1px solid rgb(198, 198, 198);
    width: 514px;
    height: 267px;
    border: 1px solid rgb(198, 198, 198);
    background-color: rgb(242, 242, 242);
    margin-left: -51px;
    margin-top: 15px;
  }

  #news_area2 {
    border: 1px solid rgb(198, 198, 198);
    width: 514px;
    height: 267px;
    border: 1px solid rgb(198, 198, 198);
    background-color: rgb(242, 242, 242);
    margin-left: -51px;
    margin-top: 15px;
  }

  #news_area3 {
    border: 1px solid rgb(198, 198, 198);
    width: 514px;
    height: 267px;
    border: 1px solid rgb(198, 198, 198);
    background-color: rgb(242, 242, 242);
    margin-left: -51px;
    margin-top: 15px;
  }

  #video1 {
    width: 513px;
    height: 267px;
  }

  #video2 {
    width: 513px;
    height: 267px;
  }

  #video3 {
    width: 513px;
    height: 267px;
  }

  #text_news {
    /* border: 1px solid red; */
    width: 300px;
    height: 40px;
    margin-top: -15px;
    margin-left: 0px;
    font-size: 14px;
  }

  #title_news {
    font-size: 24px;
    margin-left: -62px;
  }

  h1 {
    margin-left: 90px;
    font-size: 44px;
  }

  h2 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    margin-left: 89px;
    margin-top: -5px;
    color: #707070;
    font-size: 55px;
    padding-left: 10px;
  }

  h3 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    margin-left: 75px;
    color: #1a1a1a;
    padding-top: 15px;
    padding-left: 60px;
  }

  h4 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    margin-left: 145px;
    margin-top: 33px;
    font-size: 42px;
  }

  h5 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    margin-left: 124px;
    margin-top: 30px;
    font-size: 17px;
    color: #fff;
  }

  h6 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 54px;
    margin-left: 95px;
    margin-top: -18px;
    color: #fff;
  }

  p {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 14px;
    text-align: center;
    font-style: italic;
    margin-left: 0px;
    margin-top: -40px;
    color: #1a1a1a;
    padding-left: 10px;
  }

  #logo_bottom {
    margin-left: 208px;
    /* position: sticky; */
    margin-top: 80px;
  }
}

/* Media queries 576 a 769 */

@media (min-width: 576px) and (max-width: 769px) {
  body {
    width: 730px;
  }
  #general_container {
    width: auto;
    display: inline-table;
    margin-left: 125px;
  }

  #header {
    margin-left: 2px;
    width: 748px;
    height: 120px;
  }

  #logo_top {
    width: 305px;
    height: 108px;
    margin-left: 200px;
  }

  #time_container {
    display: inline-table;
    margin-top: -20px;
    margin-left: 90px;
  }

  #date_time {
    width: 320px;
    height: 130px;
    border-radius: 8px;
    background-color: rgb(247, 247, 247);
  }

  #timer {
    width: 320px;
    height: 130px;
    border-radius: 8px;
    border: 1px solid #c3c3c3;
    margin-left: 0px;
    margin-top: 20px;
  }

  #warning {
    width: 416px;
    height: 58px;
    margin-left: 46px;
    font-size: 28px;
    padding-top: 18px;
  }

  #notes {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 13px;
    width: 482px;
    height: 180px;
    margin-left: 17px;
    margin-top: -10px;
    padding-top: 10px;
  }

  #news_container {
    display: inline-block;
    /* border: 1px solid red; */
    margin-left: 77px;
    height: 670px;
    width: 350px;
  }

  #text_area1 {
    margin-top: -81px;
    width: 387px;
    /* border: 1px solid red; */
    height: 73px;
  }

  #text_area2 {
    margin-top: -81px;
    width: 387px;
    /* border: 1px solid red; */
    height: 73px;
  }

  #text_area3 {
    margin-top: -80px;
  }

  #news_area1 {
    width: 405px;
    height: 207px;
    border: 1px solid rgb(198, 198, 198);
    background-color: rgb(242, 242, 242);
    margin-left: -20px;
    margin-top: 15px;
  }

  #news_area2 {
    width: 341px;
    height: 207px;
    border: 1px solid rgb(198, 198, 198);
    background-color: rgb(242, 242, 242);
    margin-left: -20px;
    margin-top: 15px;
  }

  #news_area3 {
    width: 405px;
    height: 207px;
    border: 1px solid rgb(198, 198, 198);
    background-color: rgb(242, 242, 242);
    margin-left: -20px;
    margin-top: 15px;
  }

  #video1 {
    width: 404px;
    height: 206px;
  }

  #video2 {
    width: 404px;
    height: 206px;
  }

  #video3 {
    width: 404px;
    height: 206px;
  }

  #text_news {
    /* border: 1px solid red; */
    width: 300px;
    height: 40px;
    margin-top: -7px;
    margin-left: 0px;
    font-size: 10px;
  }

  #title_news {
    margin-top: -5px;
  }

  h1 {
    margin-left: 70px;
    font-size: 40px;
  }

  h2 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    margin-left: 76px;
    margin-top: -15px;
    color: #707070;
    font-size: 32px;
    padding-left: 10px;
  }

  h3 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    margin-left: 75px;
    color: #1a1a1a;
    padding-top: 15px;
    padding-left: 10px;
  }

  h4 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    margin-left: 175px;
    margin-top: 60px;
    font-size: 22px;
  }

  h5 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    margin-left: 70px;
    margin-top: 30px;
    font-size: 17px;
    color: #fff;
  }

  h6 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 34px;
    margin-left: 82px;
    margin-top: -28px;
    color: #fff;
  }

  p {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 12px;
    font-style: italic;
    margin-left: 20px;
    margin-top: -20px;
    color: #1a1a1a;
    padding-left: 10px;
  }

  #logo_bottom {
    margin-left: 308px;
    /* position: sticky; */
    margin-top: 80px;
  }
}

/* Media queries 570 a 992 */

@media (min-width: 770px) and (max-width: 992px) {
  body {
    width: 960px;
  }

  #general_container {
    display: inline-table;
    margin-left: 125px;
    width: 749px;
  }

  #header {
    margin-left: 0px;
    width: 960px;
    height: 120px;
  }

  #logo_top {
    width: 305px;
    height: 108px;
    margin-left: 317px;
  }

  #time_container {
    display: flex;
    margin-top: 50px;
    margin-left: 40px;
  }

  #date_time {
    width: 320px;
    height: 130px;
    border-radius: 8px;
    background-color: rgb(247, 247, 247);
  }

  #timer {
    width: 320px;
    height: 130px;
    border-radius: 8px;
    border: 1px solid #c3c3c3;
    margin-left: 10px;
  }

  #notes {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 13px;
    width: 652px;
    height: 150px;
    margin-left: 40px;
    margin-top: -10px;
    padding-top: 10px;
  }

  #news_container {
    display: inline-block;
    /* border: 1px solid red; */
    margin-left: 85px;
    height: 670px;
    width: 560px;
  }

  #text_area1 {
    margin-top: -107px;
    width: 532px;
    height: 87px;
    /* border: 1px solid red; */
  }

  #text_area2 {
    margin-top: -107px;
    width: 532px;
    height: 87px;
  }

  #text_area3 {
    margin-top: -93px;
    width: 532px;
    height: 87px;
  }

  #news_area1 {
    width: 551px;
    height: 212px;
    border: 1px solid rgb(198, 198, 198);
    background-color: rgb(242, 242, 242);
    margin-left: 3px;
    margin-top: 15px;
  }

  #news_area2 {
    width: 551px;
    height: 212px;
    border: 1px solid rgb(198, 198, 198);
    background-color: rgb(242, 242, 242);
    margin-left: 3px;
    margin-top: 15px;
  }

  #news_area3 {
    width: 551px;
    height: 212px;
    border: 1px solid rgb(198, 198, 198);
    background-color: rgb(242, 242, 242);
    margin-left: 3px;
    margin-top: 15px;
  }

  #title_news {
    padding-top: 15px;
    padding-left: 15px;
  }

  #text_news {
    width: 500px;
    height: 40px;
    margin-top: -5px;
    margin-left: 15px;
    font-size: 10px;
  }

  #video1 {
    width: 548px;
    height: 209px;
  }

  #video2 {
    width: 548px;
    height: 209px;
  }

  #video3 {
    width: 548px;
    height: 209px;
  }

  h2 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    margin-left: 20px;
    margin-top: -15px;
    color: #707070;
    font-size: 32px;
  }

  h3 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    margin-left: 20px;
    color: #1a1a1a;
  }

  h4 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    margin-left: 43px;
    margin-top: 40px;
  }

  h5 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    margin-left: 70px;
    margin-top: 36px;
    font-size: 17px;
    color: #fff;
  }

  h6 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 34px;
    margin-left: 82px;
    margin-top: -28px;
    color: #fff;
  }

  p {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 12px;
    font-style: italic;
    margin-left: 20px;
    margin-top: -25px;
    color: #1a1a1a;
  }

  #logo_bottom {
    margin-left: 412px;
    /* position: sticky; */
    margin-top: 80px;
  }
}

@media (min-width: 993px) and (max-width: 1024px) {
  body {
    width: 1000px;
  }

  #general_container {
    display: inline-table;
    margin-left: 135px;
    width: 749px;
  }

  #header {
    margin-left: 12px;
    width: 990px;
    height: 120px;
  }

  #logo_top {
    width: 305px;
    height: 108px;
    margin-left: 317px;
  }

  #time_container {
    display: flex;
    margin-top: 50px;
    margin-left: 40px;
  }

  #date_time {
    width: 320px;
    height: 130px;
    border-radius: 8px;
    background-color: rgb(247, 247, 247);
  }

  #timer {
    width: 320px;
    height: 130px;
    border-radius: 8px;
    border: 1px solid #c3c3c3;
    margin-left: 10px;
  }

  #notes {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 13px;
    width: 652px;
    height: 150px;
    margin-left: 40px;
    margin-top: -10px;
    padding-top: 10px;
  }

  #news_container {
    display: inline-block;
    /* border: 1px solid red; */
    margin-left: 85px;
    height: 670px;
    width: 560px;
  }

  #title_news {
    padding-top: 15px;
    padding-left: 15px;
  }

  #text_news {
    width: 500px;
    height: 40px;
    margin-top: -5px;
    margin-left: 15px;
    font-size: 10px;
  }

  #text_area1 {
    margin-top: -107px;
    width: 532px;
    height: 87px;
    /* border: 1px solid red; */
  }

  #text_area2 {
    margin-top: -107px;
    width: 532px;
    height: 87px;
  }

  #text_area3 {
    margin-top: -93px;
    width: 532px;
    height: 87px;
  }

  #news_area1 {
    width: 551px;
    height: 212px;
    border: 1px solid rgb(198, 198, 198);
    background-color: rgb(242, 242, 242);
    margin-left: 3px;
    margin-top: 15px;
  }

  #news_area2 {
    width: 551px;
    height: 212px;
    border: 1px solid rgb(198, 198, 198);
    background-color: rgb(242, 242, 242);
    margin-left: 3px;
    margin-top: 15px;
  }

  #news_area3 {
    width: 551px;
    height: 212px;
    border: 1px solid rgb(198, 198, 198);
    background-color: rgb(242, 242, 242);
    margin-left: 3px;
    margin-top: 15px;
  }

  #video1 {
    width: 548px;
    height: 209px;
  }

  #video2 {
    width: 548px;
    height: 209px;
  }

  #video3 {
    width: 548px;
    height: 209px;
  }

  h2 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    margin-left: 20px;
    margin-top: -15px;
    color: #707070;
    font-size: 32px;
  }

  h3 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    margin-left: 20px;
    color: #1a1a1a;
  }

  h4 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    margin-left: 43px;
    margin-top: 40px;
  }

  h5 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    margin-left: 70px;
    margin-top: 36px;
    font-size: 17px;
    color: #fff;
  }

  h6 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 34px;
    margin-left: 82px;
    margin-top: -28px;
    color: #fff;
  }

  p {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 12px;
    font-style: italic;
    margin-left: 20px;
    margin-top: -25px;
    color: #1a1a1a;
  }

  #logo_bottom {
    margin-left: 432px;
    /* position: sticky; */
    margin-top: 50px;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  #general_container {
    display: inline-table;
    margin-left: 23%;
    width: 0px;
  }

  #header {
    margin-left: 0px;
    height: 120px;
  }

  #logo_top {
    width: 305px;
    height: 108px;
    margin-left: 37%;
  }

  #time_container {
    display: flex;
    margin-top: 20px;
    margin-left: 40px;
  }

  #date_time {
    width: 320px;
    height: 130px;
    border-radius: 8px;
    background-color: rgb(247, 247, 247);
  }

  #timer {
    width: 320px;
    height: 130px;
    border-radius: 8px;
    border: 1px solid #c3c3c3;
    margin-left: 10px;
  }

  #notes {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 13px;
    width: 652px;
    height: 132px;
    margin-left: 20px;
    margin-top: -25px;
    padding-top: 10px;
  }

  #news_container {
    display: -webkit-inline-box;
    /* border: 1px solid red; */
    margin-left: 0px;
    height: 162px;
    width: 752px;
  }

  #news_area1 {
    width: 240px;
    height: 160px;
    border: 1px solid rgb(198, 198, 198);
    background-color: rgb(242, 242, 242);
    margin-left: 3px;
    margin-top: 10px;
  }

  #news_area2 {
    width: 240px;
    height: 160px;
    border: 1px solid rgb(198, 198, 198);
    background-color: rgb(242, 242, 242);
    margin-left: 10px;
    margin-top: 10px;
  }

  #news_area3 {
    width: 240px;
    height: 160px;
    border: 1px solid rgb(198, 198, 198);
    background-color: rgb(242, 242, 242);
    margin-left: 10px;
    margin-top: 10px;
  }

  #text_area2 {
    position: relative;
    width: 221px;
    height: 60px;
    padding-left: 9px;
    padding-right: 9px;
    background-color: rgba(0, 0, 0, 0.7);
    margin-top: -81px;
  }

  #title_news {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    margin-left: 0px;
    color: #fff;
    margin-top: 15px;
    font-size: 14px;
  }

  #text_news {
    margin-top: -7px;
    margin-left: 0px;
    font-size: 10px;
  }

  h2 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    margin-left: 80px;
    margin-top: -19px;
    color: #707070;
    font-size: 36px;
  }

  h3 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    margin-left: 88px;
    color: #1a1a1a;
  }

  h4 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    margin-left: 43px;
    margin-top: 40px;
  }

  h5 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    margin-left: 70px;
    margin-top: 35px;
    font-size: 17px;
    color: #fff;
  }

  h6 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 34px;
    margin-left: 82px;
    margin-top: -28px;
    color: #fff;
  }

  p {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 12px;
    font-style: italic;
    margin-left: 20px;
    margin-top: -25px;
    color: #1a1a1a;
  }

  #logo_bottom {
    margin-left: 632px;
    /* position: sticky; */
    margin-top: 50px;
  }
}
