#general_container {
  width: 119%;
  height: auto;
}

#header {
  border-bottom: 2px solid #e1e1e1;
  width: auto;
  height: 120px;
  background-color: #ffffff;
}

#logo_top {
  width: 305px;
  height: 108px;
  margin-left: 537px;
}

#title {
  font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: left;
  width: 500px;
  margin-left: 433px;
  margin-top: 50px;
}

#top_bar {
  width: 100%;
  height: 45px;
  background-color: #f2f2f2;
}

#top_info {
  margin-left: 5%;
  display: inline-flex;
}

#top_info1 {
  font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
  width: 120px;
  height: 30px;
  margin-left: 383px;
  color: #707070;
}

#top_info2 {
  font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
  width: 82px;
  font-size: 19px;
  height: 23px;
  margin-left: 11px;
  /* padding-top: 13px; */
  margin-top: 13px;
  color: #336699;
}

#top_info3 {
  font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
  width: 162px;
  height: 30px;
  margin-left: 25px;
  color: #707070;
}

#top_info4 {
  font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
  width: 82px;
  font-size: 19px;
  height: 23px;
  margin-left: 12px;
  /* padding-top: 13px; */
  margin-top: 13px;
  color: #336699;
}

#text_1 {
  font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 22px;
  width: 600px;
  margin-left: 433px;
  margin-top: 15px;
  color: #707070;
}

#text_2 {
  font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  width: 320px;
  margin-left: 125px;
  margin-top: 30px;
  color: #707070;
  text-decoration: underline;
  font-weight: 600;
}

#text_3 {
  font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 14px;
  width: 320px;
  margin-left: 175px;
  margin-top: -25px;
  color: #707070;
}

#video_area {
  width: 556px;
  height: 400px;
  background-color: #e1e1e1;
  margin-left: 420px;
  margin-top: 30px;
}

#campo1 {
  width: 256px;
  height: 22px;
  margin-left: 138px;
  margin-top: 5px;
}

.button {
  border: none;
  cursor: pointer;
  margin-top: 20px;
  width: 337px;
  height: 59px;
  border-radius: 100px;
  background-color: #336699;
  font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: #ffffff;
  margin-left: 535px;
}

#logo_bottom {
  width: 120px;
  margin-left: 655px;
  margin-top: 80px;
}

/* Media queries 575 */

@media (max-width: 575px) {
  body {
    width: 550px;
    margin-left: 11px;
  }

  #general_container {
    width: auto;
    display: inline-table;
  }

  #header {
    height: 120px;
    margin-left: 8px;
    width: 96%;
  }

  #logo_top {
    width: 305px;
    height: 108px;
    margin-left: 120px;
  }

  #top_bar {
    height: 70px;
    background-color: #f2f2f2;
    width: 96%;
    margin-left: 8px;
  }

  #top_info {
    margin-left: 2px;
  }

  #top_info1 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 600;
    width: 136px;
    height: 15px;
    margin-left: 90px;
    color: #707070;
    font-size: 13px;
    margin-top: 7px;
  }

  #top_info2 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 600;
    width: 134px;
    font-size: 30px;
    height: 35px;
    margin-left: -148px;
    /* padding-top: 13px; */
    margin-top: 26px;
    color: #336699;
  }

  #top_info3 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 600;
    width: 136px;
    height: 15px;
    margin-left: 130px;
    color: #707070;
    font-size: 13px;
    margin-top: 7px;
  }

  #top_info4 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 600;
    width: 134px;
    font-size: 30px;
    height: 35px;
    margin-left: -137px;
    /* padding-top: 13px; */
    margin-top: 26px;
    color: #336699;
  }

  #title {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    text-align: left;
    width: 300px;
    margin-left: 13px;
    margin-top: 50px;
    font-size: 66px;
    line-height: 70px;
  }

  #text_1 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 38px;
    width: 440px;
    margin-left: 13px;
    margin-top: 5px;
    color: #707070;
  }

  #video_area {
    width: 106%;
    height: 240px;
    background-color: #e1e1e1;
    margin-left: 13px;
    margin-top: 40px;
  }

  #text_2 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 18px;
    width: 290px;
    margin-left: 103px;
    margin-top: 30px;
    color: #707070;
  }

  #text_3 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 14px;
    width: 320px;
    margin-left: 129px;
    margin-top: -23px;
    color: #707070;
  }

  #checkbox {
    width: 20px;
    height: 20px;
    margin-left: 95px;
    margin-top: 20px;
  }

  #campo1 {
    width: 256px;
    height: 22px;
    margin-left: 117px;
    margin-top: 5px;
  }

  .button {
    border: none;
    cursor: pointer;
    margin-top: 40px;
    width: 437px;
    height: 89px;
    border-radius: 100px;
    background-color: #336699;
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 26px;
    font-weight: 600;
    color: #ffffff;
    margin-left: 51px;
  }
  #logo_bottom {
    margin-left: 208px;
    /* position: sticky; */
    margin-top: 175px;
  }
}

/* Media queries 576 a 769 */

@media (min-width: 576px) and (max-width: 769px) {
  body {
    width: 730px;
  }

  #general_container {
    width: auto;
    display: inline-table;
    margin-left: 125px;
  }

  #header {
    margin-left: 0px;
    width: 752px;
    height: 120px;
  }

  #logo_top {
    width: 305px;
    height: 108px;
    margin-left: 220px;
  }

  #top_bar {
    height: 70px;
    width: 752px;
    margin-left: 0px;
    background-color: #f2f2f2;
  }

  #top_info {
    margin-left: 0px;
  }

  #top_info1 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 600;
    width: 166px;
    height: 30px;
    margin-left: 153px;
    color: #707070;
  }

  #top_info2 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 600;
    width: 100px;
    font-size: 19px;
    height: 23px;
    margin-left: -147px;
    margin-top: 33px;
    color: #336699;
    display: flex;
  }

  #top_info3 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 600;
    width: 162px;
    height: 30px;
    margin-left: 150px;
    color: #707070;
  }

  #top_info4 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 600;
    width: 82px;
    font-size: 19px;
    height: 23px;
    margin-left: -129px;
    /* padding-top: 13px; */
    margin-top: 33px;
    color: #336699;
  }

  #title {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    text-align: left;
    width: 390px;
    margin-left: 43px;
    margin-top: 50px;
  }

  #text_1 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 22px;
    width: 410px;
    margin-left: 43px;
    margin-top: 15px;
    color: #707070;
  }

  #video_area {
    width: 100%;
    height: 160px;
    background-color: #e1e1e1;
    margin-left: 23px;
    margin-top: 40px;
  }

  #text_2 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 18px;
    width: 290px;
    margin-left: 103px;
    margin-top: 30px;
    color: #707070;
  }

  #text_3 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 14px;
    width: 320px;
    margin-left: 129px;
    margin-top: -23px;
    color: #707070;
  }

  #checkbox {
    width: 20px;
    height: 20px;
    margin-left: 95px;
    margin-top: 20px;
  }

  #campo1 {
    width: 256px;
    height: 22px;
    margin-left: 117px;
    margin-top: 5px;
  }

  .button {
    border: none;
    cursor: pointer;
    margin-top: 40px;
    width: 337px;
    height: 59px;
    border-radius: 100px;
    background-color: #336699;
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #ffffff;
    margin-left: 90px;
  }
  #logo_bottom {
    margin-left: 315px;
    /* position: sticky; */
    margin-top: 80px;
  }
}

/* Media queries 570 a 992 */

@media (min-width: 770px) and (max-width: 992px) {
  body {
    width: 960px;
  }
  #general_container {
    display: inline-table;
    margin-left: 125px;
    width: 749px;
  }

  #header {
    margin-left: 0px;
    width: 960px;
    height: 120px;
  }

  #logo_top {
    width: 305px;
    height: 108px;
    margin-left: 310px;
  }

  #top_bar {
    height: 70px;
    width: 960px;
    margin-left: 0px;
    background-color: #f2f2f2;
  }

  #top_info {
    margin-left: 105px;
    width: 748px;
    height: 67px;
  }

  #top_info1 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 600;
    width: 166px;
    height: 30px;
    margin-left: 153px;
    color: #707070;
  }

  #top_info2 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 600;
    width: 100px;
    font-size: 19px;
    height: 23px;
    margin-left: -147px;
    margin-top: 33px;
    color: #336699;
    display: flex;
  }

  #top_info3 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 600;
    width: 162px;
    height: 30px;
    margin-left: 180px;
    color: #707070;
  }

  #top_info4 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 600;
    width: 82px;
    font-size: 19px;
    height: 23px;
    margin-left: -125px;
    /* padding-top: 13px; */
    margin-top: 33px;
    color: #336699;
  }

  #title {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    text-align: left;
    width: 430px;
    margin-left: 88px;
    margin-top: 50px;
  }

  #text_1 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 22px;
    width: 510px;
    margin-left: 88px;
    margin-top: 15px;
    color: #707070;
  }

  #video_area {
    height: 220px;
    background-color: #e1e1e1;
    margin-left: 87px;
    margin-top: 10px;
  }

  #text_2 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 20px;
    width: 314px;
    margin-left: 134px;
    margin-top: 30px;
    color: #707070;
  }

  #text_3 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 14px;
    width: 320px;
    margin-left: 179px;
    margin-top: -23px;
    color: #707070;
  }

  #checkbox {
    width: 20px;
    height: 20px;
    margin-left: 146px;
    margin-top: 20px;
  }

  #campo1 {
    width: 256px;
    height: 22px;
    margin-left: 117px;
    margin-top: 5px;
  }

  .button {
    border: none;
    cursor: pointer;
    margin-top: 40px;
    width: 337px;
    height: 59px;
    border-radius: 100px;
    background-color: #336699;
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #ffffff;
    margin-left: 198px;
  }
  #logo_bottom {
    margin-left: 423px;
    /* position: sticky; */
    margin-top: 80px;
  }
}

@media (min-width: 993px) and (max-width: 1024px) {
  #general_container {
    display: inline-table;
    margin-left: 125px;
    width: 0px;
  }

  #header {
    margin-left: 12px;
    width: 980px;
    height: 120px;
  }

  #logo_top {
    width: 305px;
    height: 108px;
    margin-left: 325px;
  }

  #top_bar {
    height: 70px;
    width: 980px;
    margin-left: 12px;
    background-color: #f2f2f2;
  }

  #top_info {
    margin-left: 100px;
    width: 748px;
    height: 67px;
  }

  #top_info1 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 600;
    width: 166px;
    height: 30px;
    margin-left: 153px;
    color: #707070;
  }

  #top_info2 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 600;
    width: 100px;
    font-size: 19px;
    height: 23px;
    margin-left: -147px;
    margin-top: 33px;
    color: #336699;
    display: flex;
  }

  #top_info3 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 600;
    width: 162px;
    height: 30px;
    margin-left: 180px;
    color: #707070;
  }

  #top_info4 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 600;
    width: 82px;
    font-size: 19px;
    height: 23px;
    margin-left: -125px;
    /* padding-top: 13px; */
    margin-top: 33px;
    color: #336699;
  }

  #title {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    text-align: left;
    width: 430px;
    margin-left: 88px;
    margin-top: 50px;
  }

  #text_1 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 22px;
    width: 510px;
    margin-left: 88px;
    margin-top: 15px;
    color: #707070;
  }

  #video_area {
    height: 160px;
    background-color: #e1e1e1;
    margin-left: 87px;
    margin-top: 40px;
  }

  #text_2 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 20px;
    width: 314px;
    margin-left: 134px;
    margin-top: 30px;
    color: #707070;
  }

  #text_3 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 14px;
    width: 320px;
    margin-left: 179px;
    margin-top: -23px;
    color: #707070;
  }

  #checkbox {
    width: 20px;
    height: 20px;
    margin-left: 146px;
    margin-top: 20px;
  }

  #campo1 {
    width: 256px;
    height: 22px;
    margin-left: 117px;
    margin-top: 5px;
  }

  .button {
    border: none;
    cursor: pointer;
    margin-top: 40px;
    width: 337px;
    height: 59px;
    border-radius: 100px;
    background-color: #336699;
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #ffffff;
    margin-left: 198px;
  }
  #logo_bottom {
    margin-left: 434px;
    /* position: sticky; */
    margin-top: 80px;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  #general_container {
    display: inline-table;
    margin-left: 333px;
    width: 0px;
  }

  #header {
    margin-left: 0px;
    height: 120px;
  }

  #logo_top {
    width: 305px;
    height: 108px;
    margin-left: 37%;
  }

  #top_bar {
    height: 70px;
    background-color: #f2f2f2;
  }

  #top_info {
    margin-left: 310px;
    height: 67px;
  }

  #top_info1 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 600;
    width: 166px;
    height: 30px;
    margin-left: 153px;
    color: #707070;
  }

  #top_info2 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 600;
    width: 100px;
    font-size: 19px;
    height: 23px;
    margin-left: -147px;
    margin-top: 33px;
    color: #336699;
    display: flex;
  }

  #top_info3 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 600;
    width: 162px;
    height: 30px;
    margin-left: 180px;
    color: #707070;
  }

  #top_info4 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 600;
    width: 82px;
    font-size: 19px;
    height: 23px;
    margin-left: -125px;
    /* padding-top: 13px; */
    margin-top: 33px;
    color: #336699;
  }

  #title {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    text-align: left;
    width: 430px;
    margin-left: 90px;
    margin-top: 50px;
  }

  #text_1 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 22px;
    width: 610px;
    margin-left: 90px;
    margin-top: 5px;
    color: #707070;
  }

  #video_area {
    width: 560px;
    height: 220px;
    background-color: #e1e1e1;
    margin-left: 90px;
    margin-top: 40px;
  }

  #text_2 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 20px;
    width: 314px;
    margin-left: 134px;
    margin-top: 15px;
    color: #707070;
  }

  #text_3 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 14px;
    width: 320px;
    margin-left: 179px;
    margin-top: -23px;
    color: #707070;
  }

  #checkbox {
    width: 20px;
    height: 20px;
    margin-left: 146px;
    margin-top: 15px;
  }

  #campo1 {
    width: 256px;
    height: 22px;
    margin-left: 117px;
    margin-top: 5px;
  }

  .button {
    border: none;
    cursor: pointer;
    margin-top: 40px;
    width: 337px;
    height: 59px;
    border-radius: 100px;
    background-color: #336699;
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #ffffff;
    margin-left: 198px;
  }
  #logo_bottom {
    margin-left: 632px;
    /* position: sticky; */
    margin-top: 50px;
  }
}
