#general_container {
  width: 119%;
  height: auto;
}

#header {
  border-bottom: 2px solid #e1e1e1;
  width: auto;
  height: 120px;
  background-color: #ffffff;
}

#logo_top {
  width: 305px;
  height: 108px;
  margin-left: 537px;
}

#notes {
  width: 600px;
  height: 356px;
  border: 2px solid #c3c3c3;
  background-color: white;
  border-radius: 8px;
  display: inline-table;
  margin-top: 80px;
  margin-left: 65px;
}

h2 {
  font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-left: 45px;
  margin-top: 45px;
}

h3 {
  font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-left: 45px;
  margin-top: 45px;
}

p {
  font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-left: 45px;
  color: #707070;
  font-size: 22px;
  margin-top: -10px;
}

#contact_data {
  margin-top: -34px;
  margin-left: -4px;
}

#icon_tel {
  margin-left: 48px;
  width: 20px;
}

#contact_data_1 {
  font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-left: 45px;
  color: #707070;
  font-size: 16px;
  margin-top: 10px;
}

#contact_data_2 {
  font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-left: 42px;
  color: #707070;
  font-size: 16px;
  margin-top: -23px;
}

#www_tel {
  margin-left: 8px;
  width: 20px;
  margin-top: 4px;
}

#logo_bottom {
  margin-left: 632px;
  /* position: sticky; */
  margin-top: 117px;
}

/* Media queries 575 */

@media (max-width: 575px) {
  body {
    width: 550px;
  }

  #general_container {
    width: auto;
    display: inline-table;
  }

  #header {
    margin-left: 32px;
    width: 500px;
    height: 120px;
  }

  #logo_top {
    width: 305px;
    height: 108px;
    margin-left: 96px;
  }

  #notes {
    width: 475px;
    height: 356px;
    border: 2px solid #c3c3c3;
    background-color: white;
    border-radius: 8px;
    display: inline-table;
    margin-top: 40px;
    margin-left: 40px;
  }

  h2 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    margin-left: 35px;
    margin-top: 31px;
  }

  h3 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    margin-left: 35px;
    margin-top: 25px;
  }

  p {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    margin-left: 34px;
    color: #707070;
    font-size: 20px;
    margin-top: -10px;
    width: 390px;
  }

  #contact_data {
    margin-top: -34px;
    margin-left: -16px;
  }

  #icon_tel {
    margin-left: 37px;
    width: 20px;
  }

  #contact_data_1 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    margin-left: 45px;
    color: #707070;
    font-size: 16px;
    margin-top: 10px;
  }

  #contact_data_2 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    margin-left: 30px;
    color: #707070;
    font-size: 16px;
    margin-top: -23px;
  }

  #www_tel {
    margin-left: -2px;
    width: 20px;
    margin-top: 4px;
  }

  #logo_bottom {
    margin-left: 208px;
    /* position: sticky; */
    margin-top: 110px;
  }
}

/* Media queries 576 a 769 */

@media (min-width: 576px) and (max-width: 769px) {
  body {
    width: 729px;
  }

  #general_container {
    width: auto;
    display: inline-table;
    margin-left: 6px;
  }

  #header {
    margin-left: 73px;
    width: 600px;
    height: 120px;
  }

  #logo_top {
    width: 305px;
    height: 108px;
    margin-left: 139px;
  }

  #notes {
    margin-left: 65px;
  }

  #logo_bottom {
    margin-left: 308px;
    /* position: sticky; */
    margin-top: 180px;
  }
}

/* Media queries 570 a 992 */

@media (min-width: 770px) and (max-width: 992px) {
  #general_container {
    display: inline-table;
    margin-left: 125px;
    width: 749px;
  }

  #header {
    margin-left: 125px;
    width: 750px;
    height: 120px;
  }

  #logo_top {
    width: 305px;
    height: 108px;
    margin-left: 217px;
  }

  #logo_bottom {
    margin-left: 412px;
    /* position: sticky; */
    margin-top: 20px;
  }
}

@media (min-width: 993px) and (max-width: 1024px) {
  #general_container {
    display: inline-table;
    margin-left: 125px;
    width: 749px;
  }

  #header {
    margin-left: 125px;
    width: 750px;
    height: 120px;
  }

  #notes {
    margin-left: 75px;
    margin-top: 50px;
  }

  #logo_top {
    width: 305px;
    height: 108px;
    margin-left: 217px;
  }

  #logo_bottom {
    margin-left: 435px;
    /* position: sticky; */
    margin-top: 50px;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  #general_container {
    display: inline-table;
    margin-left: 26%;
    width: 0px;
  }

  #header {
    margin-left: 0px;
    height: 120px;
  }

  #logo_top {
    width: 305px;
    height: 108px;
    margin-left: 37%;
  }

  #notes {
    margin-left: 25px;
  }

  #logo_bottom {
    /* position: sticky; */
    margin-top: 110px;
    margin-left: 44%;
  }
}
