#general_container {
  width: auto;
  height: auto;
}

#header {
  border-bottom: 2px solid #e1e1e1;
  width: auto;
  height: 120px;
  background-color: #ffffff;
}

#logo_top {
  width: 305px;
  height: 108px;
  margin-left: 537px;
}

#title {
  font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: left;
  margin-left: 433px;
  margin-top: 50px;
}

#subtitle {
  font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: normal;
  font-size: 22px;
  text-align: left;
  margin-left: 43px;
  margin-top: -10px;
}

#text_1 {
  font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 22px;
  width: 500px;
  margin-left: 433px;
  margin-top: 15px;
  color: #707070;
}

#text_2 {
  font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  width: 500px;
  margin-left: 158px;
  margin-top: 50px;
  color: #707070;
}

#id_area {
  width: 556px;
  height: 160px;
  margin: auto;
  margin-top: 30px;
}

#icon_user {
  width: 18px;
  margin-left: 32px;
  margin-top: 49px;
}

input[type="text"] {
  font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 18px;
  background-color: white;
  background-image: url(../step1/imagenes/user.png);
  background-position: 14px 17px;
  background-size: 20px;
  background-repeat: no-repeat;
  padding-left: 44px;
}

/* #campo1 {
  width: 416px;
  height: 32px;
  margin-left: 88px;
  margin-top: 5px;
  border-radius: 6px;
} */

.button {
  border: none;
  cursor: pointer;
  margin-top: 20px;
  width: 337px;
  height: 59px;
  border-radius: 100px;
  background-color: #336699;
  font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: #ffffff;
  margin-left: 535px;
}

#logo_bottom {
  margin-left: 635px;
  position: sticky;
  margin-top: 80px;
}

/* Dark mode styles. */

/* Media queries 575 */
@media (max-width: 575px) {
  body {
    width: 550px;
  }

  #icon_user {
    margin-left: 23px;
    margin-top: -13px;
  }

  #general_container {
    width: auto;
    display: inline-table;
  }

  #header {
    margin-left: 0;
  }

  #logo_top {
    width: 305px;
    height: 108px;
    margin-left: 21%;
  }

  #title {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    text-align: left;
    width: 480px;
    margin-left: 31px;
    margin-top: 50px;
    font-size: 66px;
    line-height: 70px;
  }

  #subtitle {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    text-align: left;
    width: 480px;
    margin-left: 31px;
    margin-top: -36px;
    font-size: 32px;
    line-height: 70px;
  }

  #text_1 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 38px;
    width: 480px;
    margin-left: 31px;
    margin-top: 25px;
    color: #707070;
  }

  #id_area {
    width: 534px;
    height: 160px;
    margin-left: 11px;
    margin-top: 42px;
  }

  #text_2 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 18px;
    width: 250px;
    margin-left: 53px;
    margin-top: -24px;
    color: #707070;
  }

  #campo1 {
    width: 90%;
    height: 62px;
    margin-left: 21px;
    margin-top: -9px;
    font-size: 4vw;
  }

  .button {
    border: none;
    cursor: pointer;
    margin-top: 0px;
    width: 397px;
    height: 79px;
    border-radius: 100px;
    background-color: #336699;
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 26px;
    font-weight: 600;
    color: #ffffff;
    margin-left: 77px;
  }
  #logo_bottom {
    margin-left: 208px;
    margin-top: 280px;
  }
}
/* Media queries 576 a 769 */

@media (min-width: 576px) and (max-width: 769px) {
  body {
    width: 730px;
  }

  #icon_user {
    width: 21px;
  }

  #general_container {
    width: auto;
    display: inline-table;
    margin-left: 15%;
  }

  #header {
    margin-left: 0;
  }

  #logo_top {
    width: 305px;
    height: 108px;
    margin-left: 28%;
  }

  #title {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    text-align: left;
    width: 510px;
    margin-left: 60px;
    margin-top: 50px;
  }

  #text_1 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 22px;
    width: 390px;
    margin-left: 60px;
    margin-top: 5px;
    color: #707070;
  }

  #id_area {
    margin-left: 25px;
    margin-top: 23px;
  }

  #text_2 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 22px;
    width: 330px;
    margin-left: 69px;
    margin-top: -28px;
    color: #707070;
  }

  #campo1 {
    width: 405px;
    height: 52px;
    margin-left: 33px;
    margin-top: 16px;
  }

  .button {
    border: none;
    cursor: pointer;
    margin-top: 40px;
    width: 417px;
    height: 69px;
    border-radius: 100px;
    background-color: #336699;
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #ffffff;
    margin-left: 47px;
  }

  #logo_bottom {
    margin-left: 208px;
    /* position: sticky; */
    margin-top: 80px;
    margin-left: 41%;
  }
}

/* Media queries 570 a 992 */

@media (min-width: 770px) and (max-width: 992px) {
  body {
    width: 975px;
  }

  #general_container {
    width: auto;
    display: inline-table;
    margin-left: 22%;
  }

  #header {
    margin-left: 0;
  }

  #logo_top {
    width: 305px;
    height: 108px;
    margin-left: 33%;
  }

  #title {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    text-align: left;
    width: 590px;
    margin-left: 80px;
    margin-top: 50px;
  }

  #text_1 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 22px;
    width: 410px;
    margin-left: 80px;
    margin-top: 15px;
    color: #707070;
  }

  #id_area {
    margin-left: 34px;
    margin-top: 10px;
  }

  #text_2 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 20px;
    width: 265px;
    margin-left: 59px;
    margin-top: -24px;
    color: #707070;
  }

  #campo1 {
    width: 390px;
    height: 52px;
    margin-left: 50px;
    margin-top: 16px;
  }

  .button {
    border: none;
    cursor: pointer;
    margin-top: 40px;
    width: 337px;
    height: 59px;
    border-radius: 100px;
    background-color: #336699;
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #ffffff;
    margin-left: 110px;
  }
  #logo_bottom {
    margin-left: 208px;
    /* position: sticky; */
    margin-top: 80px;
    margin-left: 44%;
  }
}

@media (min-width: 993px) and (max-width: 1024px) {
  #general_container {
    width: auto;
    display: inline-table;
    margin-left: 25%;
  }

  #header {
    margin-left: 0;
  }

  #logo_top {
    width: 305px;
    height: 108px;
    margin-left: 34%;
  }

  #title {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    text-align: left;
    width: 390px;
    margin-left: 84px;
    margin-top: 50px;
  }

  #text_1 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 22px;
    width: 410px;
    margin-left: 85px;
    margin-top: 15px;
    color: #707070;
  }

  #id_area {
    margin-left: 40px;
    margin-top: -14px;
  }

  #text_2 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 18px;
    width: 240px;
    margin-left: 57px;
    margin-top: -25px;
    color: #707070;
  }

  #campo1 {
    width: 380px;
    height: 52px;
    margin-left: 45px;
    margin-top: 38px;
  }

  .button {
    border: none;
    cursor: pointer;
    margin-top: 40px;
    width: 337px;
    height: 59px;
    border-radius: 100px;
    background-color: #336699;
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #ffffff;
    margin-left: 110px;
  }

  #logo_bottom {
    margin-left: 208px;
    /* position: sticky; */
    margin-top: 80px;
    margin-left: 47%;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  #general_container {
    width: auto;
    display: inline-table;
    margin-left: 29%;
  }

  #header {
    margin-left: 0;
  }

  #logo_top {
    width: 305px;
    height: 108px;
    margin-left: 37%;
  }

  #title {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    text-align: left;
    width: 500px;
    margin-left: 70px;
    margin-top: 50px;
  }

  #text_1 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 24px;
    width: 430px;
    margin-left: 70px;
    margin-top: 15px;
    color: #707070;
  }

  #id_area {
    margin-left: 38px;
    margin-top: -10px;
  }

  #text_2 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 16px;
    width: 220px;
    margin-left: 64px;
    margin-top: -25px;
    color: #707070;
  }

  input[type="text"] {
    background-image: url(../step1/imagenes/user.png);
    background-position: 14px 12px;
    background-size: 18px;
    background-repeat: no-repeat;
    padding-left: 44px;
  }

  #campo1 {
    width: 393px;
    height: 52px;
    margin-left: 41px;
    margin-top: 37px;
  }

  .button {
    border: none;
    cursor: pointer;
    margin-top: v0px;
    width: 337px;
    height: 59px;
    border-radius: 100px;
    background-color: #336699;
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #ffffff;
    margin-left: 110px;
  }
  #logo_bottom {
    /* position: sticky; */
    width: 120px;
    margin-top: 90px;
    margin-left: 44%;
  }
}
