#general_container {
  width: 119%;
  height: auto;
}

#header {
  border-bottom: 2px solid #e1e1e1;
  width: auto;
  height: 120px;
  background-color: #ffffff;
}

#logo_top {
  width: 305px;
  height: 108px;
  margin-left: 537px;
}

#title {
  font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: left;
  width: 500px;
  margin-left: 433px;
  margin-top: 50px;
}

#top_bar {
  width: 100%;
  height: 45px;
  background-color: #f2f2f2;
}

#top_info {
  margin-left: 5%;
  display: inline-flex;
}

#top_info1 {
  font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
  width: 120px;
  height: 30px;
  margin-left: 383px;
  color: #707070;
}

#top_info2 {
  font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
  width: 82px;
  font-size: 19px;
  height: 23px;
  margin-left: 11px;
  /* padding-top: 13px; */
  margin-top: 13px;
  color: #336699;
}

#top_info3 {
  font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
  width: 162px;
  height: 30px;
  margin-left: 25px;
  color: #707070;
}

#top_info4 {
  font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
  width: 82px;
  font-size: 19px;
  height: 23px;
  margin-left: 12px;
  /* padding-top: 13px; */
  margin-top: 13px;
  color: #336699;
}

#text_1 {
  font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 22px;
  width: 500px;
  margin-left: 433px;
  margin-top: 15px;
  color: #707070;
}

#text_2 {
  font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  width: 320px;
  margin-left: 125px;
  margin-top: 30px;
  color: #707070;
  text-decoration: underline;
  font-weight: 600;
}

#text_3 {
  font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 14px;
  width: 320px;
  margin-left: 175px;
  margin-top: -25px;
  color: #707070;
}

#terms {
  width: 450px;
  height: 250px;
  line-height: 3em;
  overflow: scroll;
  padding: 5px;
  background-color: #f9f9f9;
  color: #0b0b0b;
  scrollbar-base-color: #f9f9f9;
  margin-left: 38px;
}
#title_terms {
  font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 500;
  font-size: 14px;
  margin-left: 25px;
  color: #336699;
}

#terms_text {
  font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 12px;
  margin-left: 25px;
  line-height: 20px;
  padding-right: 30px;
}

#terms_list {
  font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 12px;
  margin-left: 5px;
  line-height: 20px;
  padding-right: 30px;
}

#title_warning {
  font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  margin-left: 25px;
  color: #336699;
}

#checkbox {
  width: 28px;
  height: 28px;
  margin-left: 145px;
}

#id_area {
  width: 556px;
  height: 160px;
  margin-left: 420px;
  margin-top: 30px;
}

#campo1 {
  width: 256px;
  height: 22px;
  margin-left: 138px;
  margin-top: 5px;
}

.button {
  border: none;
  cursor: pointer;
  margin-top: 20px;
  width: 337px;
  height: 59px;
  border-radius: 100px;
  background-color: #336699;
  font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: #ffffff;
  margin-left: 535px;
}

#logo_bottom {
  margin-left: 635px;
  position: sticky;
  margin-top: 80px;
}

/* Media queries 575 */

@media (max-width: 575px) {
  body {
    width: 570px;
  }

  #general_container {
    width: auto;
    display: inline-table;
  }

  #header {
    height: 120px;
    margin-left: 8px;
    width: 96%;
  }

  #logo_top {
    width: 305px;
    height: 108px;
    margin-left: 120px;
  }

  #top_bar {
    height: 70px;
    background-color: #f2f2f2;
    width: 96%;
    margin-left: 8px;
  }

  #top_info {
    margin-left: 2px;
  }

  #top_info1 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 600;
    width: 136px;
    height: 15px;
    margin-left: 90px;
    color: #707070;
    font-size: 13px;
    margin-top: 7px;
  }

  #top_info2 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 600;
    width: 134px;
    font-size: 30px;
    height: 35px;
    margin-left: -148px;
    /* padding-top: 13px; */
    margin-top: 26px;
    color: #336699;
  }

  #top_info3 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 600;
    width: 136px;
    height: 15px;
    margin-left: 130px;
    color: #707070;
    font-size: 13px;
    margin-top: 7px;
  }

  #top_info4 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 600;
    width: 134px;
    font-size: 30px;
    height: 35px;
    margin-left: -137px;
    /* padding-top: 13px; */
    margin-top: 26px;
    color: #336699;
  }

  #title {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    text-align: left;
    width: 300px;
    margin-left: 43px;
    margin-top: 50px;
    font-size: 66px;
    line-height: 70px;
  }

  #text_1 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 38px;
    width: 400px;
    margin-left: 43px;
    margin-top: 5px;
    color: #707070;
  }

  #id_area {
    width: 500px;
    height: 160px;
    margin-left: 31px;
    margin-top: 40px;
  }

  #terms {
    width: 480px;
    height: 331px;
    margin-left: 13px;
    margin-top: -26px;
  }

  #text_2 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 32px;
    width: 550px;
    margin-left: 10px;
    margin-top: 0px;
    color: #707070;
  }

  #text_3 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 22px;
    width: 420px;
    margin-left: 90px;
    margin-top: -33px;
    color: #707070;
  }

  #checkbox {
    width: 30px;
    height: 30px;
    margin-left: 45px;
    margin-top: 40px;
  }

  #campo1 {
    width: 256px;
    height: 22px;
    margin-left: 117px;
    margin-top: 5px;
  }

  .button {
    border: none;
    cursor: pointer;
    margin-top: 310px;
    width: 437px;
    height: 89px;
    border-radius: 100px;
    background-color: #336699;
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 26px;
    font-weight: 600;
    color: #ffffff;
    margin-left: 69px;
  }
  #logo_bottom {
    margin-left: 208px;
    /* position: sticky; */
    margin-top: 190px;
  }
}

/* Media queries 576 a 769 */

@media (min-width: 576px) and (max-width: 769px) {
  #general_container {
    width: auto;
    display: inline-table;
    margin-left: 125px;
  }

  #header {
    margin-left: 12px;
    width: 730px;
    height: 120px;
  }

  #logo_top {
    width: 305px;
    height: 108px;
    margin-left: 193px;
  }

  #top_bar {
    height: 70px;
    width: 730px;
    margin-left: 12px;
    background-color: #f2f2f2;
  }

  #top_info {
    margin-left: 110px;
  }

  #top_info1 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 600;
    width: 166px;
    height: 30px;
    margin-left: 73px;
    color: #707070;
  }

  #top_info2 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 600;
    width: 100px;
    font-size: 19px;
    height: 23px;
    margin-left: -166px;
    margin-top: 33px;
    color: #336699;
    display: flex;
  }

  #top_info3 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 600;
    width: 162px;
    height: 30px;
    margin-left: 100px;
    color: #707070;
  }

  #top_info4 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 600;
    width: 82px;
    font-size: 19px;
    height: 23px;
    margin-left: -162px;
    /* padding-top: 13px; */
    margin-top: 33px;
    color: #336699;
  }

  #title {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    text-align: left;
    width: 490px;
    margin-left: 23px;
    margin-top: 50px;
  }

  #text_1 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 22px;
    width: 500px;
    margin-left: 23px;
    margin-top: 15px;
    color: #707070;
  }

  #terms {
    margin-left: 0px;
  }

  #id_area {
    height: 160px;
    margin-left: 23px;
    margin-top: 20px;
  }

  #text_2 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 18px;
    width: 290px;
    margin-left: 90px;
    margin-top: 30px;
    color: #707070;
  }

  #text_3 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 14px;
    width: 320px;
    margin-left: 129px;
    margin-top: -23px;
    color: #707070;
  }

  #checkbox {
    width: 20px;
    height: 20px;
    margin-left: 95px;
    margin-top: 40px;
  }

  #campo1 {
    width: 256px;
    height: 22px;
    margin-left: 117px;
    margin-top: 5px;
  }

  .button {
    border: none;
    cursor: pointer;
    margin-top: 40px;
    width: 337px;
    height: 59px;
    border-radius: 100px;
    background-color: #336699;
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #ffffff;
    margin-left: 90px;
  }
  #logo_bottom {
    margin-left: 315px;
    /* position: sticky; */
    margin-top: 130px;
  }
}

/* Media queries 570 a 992 */

@media (min-width: 770px) and (max-width: 992px) {
  #general_container {
    display: inline-table;
    margin-left: 125px;
    width: 749px;
  }

  #header {
    margin-left: 12px;
    width: 950px;
    height: 120px;
  }

  #logo_top {
    width: 305px;
    height: 108px;
    margin-left: 317px;
  }

  #top_bar {
    height: 70px;
    width: 950px;
    margin-left: 12px;
    background-color: #f2f2f2;
  }

  #top_info {
    margin-left: 100px;
    width: 748px;
    height: 67px;
  }

  #top_info1 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 600;
    width: 166px;
    height: 30px;
    margin-left: 153px;
    color: #707070;
  }

  #top_info2 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 600;
    width: 100px;
    font-size: 19px;
    height: 23px;
    margin-left: -147px;
    margin-top: 33px;
    color: #336699;
    display: flex;
  }

  #top_info3 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 600;
    width: 162px;
    height: 30px;
    margin-left: 180px;
    color: #707070;
  }

  #top_info4 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 600;
    width: 82px;
    font-size: 19px;
    height: 23px;
    margin-left: -125px;
    /* padding-top: 13px; */
    margin-top: 33px;
    color: #336699;
  }

  #title {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    text-align: left;
    width: 430px;
    margin-left: 139px;
    margin-top: 50px;
  }

  #text_1 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 22px;
    width: 563px;
    margin-left: 139px;
    margin-top: 15px;
    color: #707070;
  }

  #id_area {
    margin-left: 87px;
    margin-top: 40px;
  }

  #terms {
    width: 580px;
    height: 231px;
    margin-left: 13px;
    margin-top: -26px;
  }

  #text_2 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 20px;
    width: 314px;
    margin-left: 124px;
    margin-top: 10px;
    color: #707070;
  }

  #text_3 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 14px;
    width: 320px;
    margin-left: 179px;
    margin-top: -23px;
    color: #707070;
  }

  #checkbox {
    width: 20px;
    height: 20px;
    margin-left: 146px;
    margin-top: 20px;
  }

  #campo1 {
    width: 256px;
    height: 22px;
    margin-left: 117px;
    margin-top: 5px;
  }

  .button {
    border: none;
    cursor: pointer;
    margin-top: 10px;
    width: 337px;
    height: 59px;
    border-radius: 100px;
    background-color: #336699;
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #ffffff;
    margin-left: 198px;
  }
  #logo_bottom {
    margin-left: 423px;
    /* position: sticky; */
    margin-top: 80px;
  }
}

@media (min-width: 993px) and (max-width: 1024px) {
  body {
    width: 1000px;
  }
  #general_container {
    display: inline-table;
    margin-left: 125px;
    width: 0px;
  }

  #header {
    margin-left: 12px;
    width: 985px;
    height: 120px;
  }

  #logo_top {
    width: 305px;
    height: 108px;
    margin-left: 325px;
  }

  #top_bar {
    height: 70px;
    width: 985px;
    margin-left: 12px;
    background-color: #f2f2f2;
  }

  #top_info {
    margin-left: 100px;
    width: 748px;
    height: 67px;
  }

  #top_info1 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 600;
    width: 166px;
    height: 30px;
    margin-left: 153px;
    color: #707070;
  }

  #top_info2 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 600;
    width: 100px;
    font-size: 19px;
    height: 23px;
    margin-left: -147px;
    margin-top: 33px;
    color: #336699;
    display: flex;
  }

  #top_info3 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 600;
    width: 162px;
    height: 30px;
    margin-left: 180px;
    color: #707070;
  }

  #top_info4 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 600;
    width: 82px;
    font-size: 19px;
    height: 23px;
    margin-left: -125px;
    /* padding-top: 13px; */
    margin-top: 33px;
    color: #336699;
  }

  #title {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    text-align: left;
    width: 430px;
    margin-left: 155px;
    margin-top: 50px;
  }

  #text_1 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 22px;
    width: 510px;
    margin-left: 155px;
    margin-top: 15px;
    color: #707070;
  }

  #terms {
    width: 520px;
    height: 231px;
    margin-left: 28px;
    margin-top: -26px;
  }

  #id_area {
    height: 160px;
    margin-left: 87px;
    margin-top: 20px;
  }

  #text_2 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 20px;
    width: 314px;
    margin-left: 126px;
    margin-top: 30px;
    color: #707070;
  }

  #text_3 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 14px;
    width: 320px;
    margin-left: 179px;
    margin-top: -23px;
    color: #707070;
  }

  #checkbox {
    width: 20px;
    height: 20px;
    margin-left: 146px;
    margin-top: 30px;
  }

  #campo1 {
    width: 256px;
    height: 22px;
    margin-left: 117px;
    margin-top: 5px;
  }

  .button {
    border: none;
    cursor: pointer;
    margin-top: 160px;
    width: 337px;
    height: 59px;
    border-radius: 100px;
    background-color: #336699;
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #ffffff;
    margin-left: 198px;
  }
  #logo_bottom {
    margin-left: 423px;
    /* position: sticky; */
    margin-top: 80px;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  #general_container {
    display: inline-table;
    margin-left: 333px;
    width: 0px;
  }

  #header {
    margin-left: 0px;
  }

  #logo_top {
    width: 305px;
    height: 108px;
    margin-left: 37%;
  }

  #top_bar {
    height: 70px;
    background-color: #f2f2f2;
  }

  #top_info {
    margin-left: 310px;
    height: 67px;
  }

  #top_info1 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 600;
    width: 166px;
    height: 30px;
    margin-left: 153px;
    color: #707070;
  }

  #top_info2 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 600;
    width: 100px;
    font-size: 19px;
    height: 23px;
    margin-left: -147px;
    margin-top: 33px;
    color: #336699;
    display: flex;
  }

  #top_info3 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 600;
    width: 162px;
    height: 30px;
    margin-left: 180px;
    color: #707070;
  }

  #top_info4 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 600;
    width: 82px;
    font-size: 19px;
    height: 23px;
    margin-left: -125px;
    /* padding-top: 13px; */
    margin-top: 33px;
    color: #336699;
  }

  #title {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    text-align: left;
    width: 430px;
    margin-left: 135px;
    margin-top: 50px;
  }

  #text_1 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 22px;
    width: 480px;
    margin-left: 135px;
    margin-top: 5px;
    color: #707070;
  }
  #terms {
    width: 680px;
    height: 331px;
    margin-left: -63px;
    margin-top: 10px;
  }

  #id_area {
    margin-left: 97px;
    margin-top: -20px;
  }

  #text_3 {
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 14px;
    width: 320px;
    margin-left: 163px;
    margin-top: -23px;
    color: #707070;
  }

  #checkbox {
    width: 20px;
    height: 20px;
    margin-left: 130px;
    margin-top: 25px;
  }

  #campo1 {
    width: 256px;
    height: 22px;
    margin-left: 117px;
    margin-top: 5px;
  }

  .button {
    border: none;
    cursor: pointer;
    margin-top: 320px;
    width: 337px;
    height: 59px;
    border-radius: 100px;
    background-color: #336699;
    font-family: "Montserrat", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #ffffff;
    margin-left: 198px;
  }
  #logo_bottom {
    width: 120px;
    /* position: sticky; */
    margin-top: 48px;
    margin-left: 45%;
  }
}
